<div class="profile">
  <img class="face-picture" src="assets/images/me.png" />
  <p class="my-description">
    Hi! I am William Song, a student in my first year at UBC with a passion for Computer Science. I love
    nearly every aspect of technology, but the topic I am most interested in right now is Artificial
    intelligence<br /><br />
    I strive to explore the endless possibilities that technology provides.
    <br /><br />
    <a href="assets/CV.pdf">
      <button type="button" class="btn btn-primary btn-lg">My CV</button>
    </a>
  </p>
</div>