<div class="inline">
  <!-- <img
    class="img-left"
    src="https://pojj.github.io/portfolio/assets/images/NAS.png"
  /> -->
  <img class="img-left" src="/assets/images/NAS.png" />
  <div>
    <h1 class="title">National Academy of Sciences Canada</h1>
    <p class="description">
      I designed and implemented a full-stack, WordPress-based website for a non-profit organization.
      I deployed the website to a cloud webhosting service provided by GoDaddy.
    <ul class="description-list">
      <li>News articles, events, publications, and program data is stored in a remote MySQL database.</li>
      <li>The website interacts with a PHP backend to retrieve and showcase content.</li>
      <li>Database content can be managed by authorized users through a GUI.</li>
    </ul>
  </div>
</div>

<div class="inline">
  <!-- <img
    class="img-left"
    src="https://pojj.github.io/portfolio/assets/images/FalconTechnologies.png"
  /> -->
  <img class="img-left" src="/assets/images/FalconTechnologies.png" />
  <div>
    <h1 class="title">Falcon Technologies</h1>
    <p class="description">
      Software engineer intern at Falcon Technologies to build a database of Real-Estate licenses.
      Each Canadian province and American state issue slightly differing Real-Estate licenses;
      therefore, verifying the license of an Agent from an unknown State or Province is very time consuming.
      I was tasked with fixing this problem by currating an aggregated database.
    </p>
    <ul class="description-list">
      <li>Used Webscraping to gather licensee data from Provinces and States.</li>
      <li>Parsed data using Python scripts.</li>
      <li>Stored normalized data into a Dockerized PostgreSQL database.</li>
      <li>Scheduled scripts to rerun ensuring up-to-date data.</li>
    </ul>
  </div>
</div>

<div class="inline">
  <img class="img-left" src="https://pojj.github.io/portfolio/assets/images/DeltaControls.jpg" />
  <div>
    <h1 class="title">Delta Controls </h1>
    <p class="description">
      Software engineer intern at Delta Controls to design and build an ATS (Applicant Tracking System) to
      improve the hiring process. New job applicants would create an account and complete the hiring process through the
      ATS. Full-stack Web-App made with ReactJS and an ExpressJS backend.
    </p>
    <ul class="description-list">
      <li>Designed the project architecture and data organization.</li>
      <li>Implemented Agile methodology and weekly scrum sprints.</li>
      <li>
        Collaborated with Github, and wrote unit tests to ensure correct operation.
      </li>
      <li>Creates, stores, and manages accounts in a PostgreSQL database.</li>
    </ul>
  </div>
</div>