<div class="inline">
  <img class="img-left" src="assets/images/NAS.png" />
  <div>
    <h1 class="title">National Academy of Sciences Canada</h1>
    <p class="description">
      I designed and developed a full stack WordPress website for a non-profit
      organization, deploying it on a cloud web hosting service provided by
      GoDaddy. The site stores and displays news articles, publications, events,
      and program data in a remote MySQL database.
    </p>

    <ul class="description-list">
      <li>
        The modular design allows non-technical users to easily update the site
        and create new pages.
      </li>
      <li>
        The website interacts with a PHP backend to retrieve server-side
        rendered content.
      </li>
      <li>
        Configured domains, set up DNS, and initialized SSL certification to
        ensure secure access.
      </li>
    </ul>
  </div>
</div>

<div class="inline">
  <img class="img-left" src="assets/images/FalconTechnologies.png" />
  <div>
    <h1 class="title">Falcon Technologies</h1>
    <p class="description">
      I worked as an intern software engineer at Falcon Technologies to curate a
      complete database of North Amercian real estate licenses. Each Canadian
      province and American state manages its own license catalog making it very
      time-consuming to verify if an agent has a valid license. I worked to
      address this challenge.
    </p>
    <ul class="description-list">
      <li>
        Employed web scraping to gather licensee data from provinces and states.
      </li>
      <li>
        Parsed data ingestion of all forms into normalized formats through data
        piplines.
      </li>
      <li>Stored normalized data into a Dockerized PostgreSQL database.</li>
      <li>Scheduled scripts to ensure the data remains up-to-date.</li>
    </ul>
  </div>
</div>

<div class="inline">
  <img class="img-left" src="assets/images/DeltaControls.jpg" />
  <div>
    <h1 class="title">Delta Controls</h1>
    <p class="description">
      I worked as an intern software engineer at Delta Controls to design and
      build an ATS (Applicant Tracking System) to improve the hiring process.
      New job applicants would create an account and complete the hiring process
      through the ATS. Full stack web app made with ReactJS and an ExpressJS
      backend.
    </p>
    <ul class="description-list">
      <li>Designed the site architecture and data organization.</li>
      <li>Implemented Agile methodology and weekly scrum sprints.</li>
      <li>
        Collaborated with Github, and wrote unit tests to ensure correct
        operation.
      </li>
      <li>
        Creates, stores, and manages accounts with a REST api interfacing with a
        PostgreSQL database.
      </li>
    </ul>
  </div>
</div>
