<div class="inline">
  <img class="img-left" src="assets/images/cyberium-logo.svg" />
  <div>
    <h1 class="title">Cyberium Group</h1>
    <p class="description">
      I contributed to the development of a cybersecurity application designed
      to enhance security protocols in office environments. Additionally, I
      worked on a Web3-integrated platform that collaborates with several ad
      networks to incentivize ad views with cryptocurrency. I also assisted with
      cybersecurity consulting tasks.
    </p>

    <ul class="description-list">
      <li>
        Deployed an app with a distributed architecture using cloud hosting
        services.
      </li>
      <li>
        Integrated WalletConnect to support connections with popular wallets
        such as MetaMask, Trust Wallet, and Coinbase Wallet across various
        platforms.
      </li>
      <li>
        Contributed to cybersecurity projects by creating and analyzing access
        architectures and data flows.
      </li>
    </ul>
  </div>
</div>

<div class="inline">
  <img class="img-left" src="assets/images/NAS.png" />
  <div>
    <h1 class="title">National Academy of Sciences Canada</h1>
    <p class="description">
      I designed and developed a fullstack WordPress website for a non-profit
      organization, deploying it on a cloud web hosting service provided by
      GoDaddy. The site stores and displays news articles, publications, events,
      and program data in a remote MySQL database.
    </p>

    <ul class="description-list">
      <li>
        The modular design enables non-technical users to easily update the site
        and create new pages.
      </li>
      <li>
        The website interacts with a PHP backend to retrieve server-side
        rendered content.
      </li>
      <li>
        Configured domains, set up DNS, and initialized SSL certification to
        ensure secure access.
      </li>
    </ul>
  </div>
</div>

<div class="inline">
  <img class="img-left" src="assets/images/FalconTechnologies.png" />
  <div>
    <h1 class="title">Falcon Technologies</h1>
    <p class="description">
      I worked as an intern data engineer at Falcon Technologies to curate a
      complete database of North American real estate licenses. Each Canadian
      province and American state manages its own license catalog, making it
      very time-consuming to verify if an agent has a valid license. I worked to
      address this challenge.
    </p>
    <ul class="description-list">
      <li>
        Employed web scraping to gather licensee data from provinces and states.
      </li>
      <li>
        Parsed data ingestion of all forms into normalized formats through data
        pipelines.
      </li>
      <li>Stored normalized data into a Dockerized PostgreSQL database.</li>
      <li>Scheduled scripts to ensure the data remains up-to-date.</li>
    </ul>
  </div>
</div>

<div class="inline">
  <img class="img-left" src="assets/images/DeltaControls.jpg" />
  <div>
    <h1 class="title">Delta Controls</h1>
    <p class="description">
      I worked as an intern frontend developer at Delta Controls to design and
      build an ATS (Applicant Tracking System) to improve the hiring process.
      New job applicants would create an account and complete the application
      process through the ATS. Fullstack web app made with ReactJS and an
      ExpressJS backend.
    </p>
    <ul class="description-list">
      <li>Designed the site architecture and data organization.</li>
      <li>Implemented Agile methodology and weekly scrum sprints.</li>
      <li>
        Collaborated with Github, and wrote unit tests to ensure correct
        operation.
      </li>
      <li>
        Creates, stores, and manages accounts by interfacing with a REST api
        backend.
      </li>
    </ul>
  </div>
</div>
