.content {
  padding-top: 50px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.name {
  color: rgb(14, 32, 92);
  font-size: min(100px, 20vw);
  margin: 50px 10px 0px 10px;
  font-family: "Helvetica", "Arial", sans-serif;
}

.heading {
  margin: 10;
  font-size: min(50px, 10vw);
  color: rgb(14, 32, 92);
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: bold;
}
